<div id="image_holder" width="500" height="500">
  <image id="b64_image_data" src="">
</div>

<div><button id="start_stream">Start Stream</button></div>
<div><button id="stop_stream">Stop Stream</button></div>
  


